<h1>店舗一覧</h1>

<%= form_with url: shops_path, method: :get, local: true, class: "shop-search" do %>
  <%= text_field_tag :q, params[:q], placeholder: "店名 or エリア" %>
  <%= select_tag :sort,
        options_for_select([["新着","new"],["古い順","old"]], params[:sort]) %>
  <%= submit_tag "検索" %>
<% end %>

<% if logged_in? %>
  <p><%= link_to "店舗を登録", new_shop_path, class: "new-shop-link" %></p>
<% end %>

<ul class="shop-list">
  <% @shops.each do |shop| %>
    <li class="shop-item">
      <div class="shop-image">
        <% if shop.menu_photos.attached? %>
          <%= image_tag shop.menu_photos.first %>
        <% elsif shop.building_photo.attached? %>
          <%= image_tag shop.building_photo %>
        <% else %>
          <div class="no-image">画像なし</div>
        <% end %>
      </div>

      <div class="shop-info">
        <%= link_to shop.name, shop_path(shop), class: "shop-name" %>
        <div class="shop-address">
          📍<%= shop.address %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
