<h1>Pick up ラーメン</h1>
<div style="display:grid; grid-template-columns:repeat(auto-fill, minmax(220px, 1fr)); gap:16px;">
  <% @pickup_shops.each do |shop| %>
    <% photo = shop.menu_photos.first %>

    <div style="border:1px solid #ddd; border-radius:12px; padding:12px;">
      <%= link_to shop_path(shop), style: "text-decoration:none; color:inherit;" do %>
        <div style="aspect-ratio:4/3; overflow:hidden;">
          <%= image_tag photo, style: "width:100%; height:100%; object-fit:cover;" %>
        </div>

        <strong><%= shop.name %></strong><br>
        <small><%= shop.address %></small>
      <% end %>
    </div>
  <% end %>
</div>
<h2>新着店舗</h2>
<ul>
  <% @new_shops.each do |shop| %>
    <% photo = shop.menu_photos.first %>

    <li style="display:flex; align-items:center; gap:12px; margin-bottom:10px;">
      <!-- 店舗名 -->
      <div style="flex:1;">
        <%= link_to shop.name, shop_path(shop), style: "font-weight:600;" %><br>
        <small><%= shop.address %></small>
      </div>
      <!-- ラーメン写真（右） -->
      <% if photo.present? %>
     <%= link_to shop_path(shop) do %>
        <%= image_tag photo,
          style: "width:80px; height:60px; object-fit:cover; border-radius:6px;" %>
      <% end %>
      <% end %>
    </li>
    </li>
  <% end %>
</ul>
<h3>口コミ新着店舗</h3>
<ul>
  <% @recent_review_shops.each do |shop| %>
    <% photo = shop.menu_photos.first %>
      <li style="display:flex; align-items:center; gap:12px; margin-bottom:10px;">
      <!-- 店舗名 -->
      <div style="flex:1;">
        <%= link_to shop.name, shop_path(shop), style: "font-weight:600;" %><br>
        <small><%= shop.address %></small>
      </div>
      <!-- ラーメン写真（右） -->
      <% if photo.present? %>
   <%= link_to shop_path(shop) do %>
        <%= image_tag photo,
          style: "width:80px; height:60px; object-fit:cover; border-radius:6px;" %>
      <% end %>
      <% end %>
    </li>
    </li>
  <% end %>
</ul>
