<h1><%= @shop.name %> に口コミ投稿</h1>

<%= form_with model: [@shop, @review] do |f| %>
 <fieldset>
  <legend>性別（任意）</legend>

  <label>
    <%= f.radio_button :gender, "male" %>
    男性
  </label>

  <label>
    <%= f.radio_button :gender, "female" %>
    女性
  </label>

  <label>
    <%= f.radio_button :gender, nil, checked: true %>
    回答しない
  </label>
</fieldset>

<div>
  <%= f.label :age, "年齢（任意）" %><br>
  <%= f.number_field :age, min: 1, max: 120, placeholder: "例）25" %>
</div>
  <div class="field">
  <label>評価</label>

  <!-- 送信される値 -->
  <%= f.hidden_field :rating, id: "review_rating" %>

  <!-- ★ UI -->
  <div class="star-rating" data-max="5" data-input-id="review_rating">
    <% 5.times do |i| %>
      <button type="button" class="star" data-value="<%= i + 1 %>" aria-label="<%= i + 1 %> stars">★</button>
    <% end %>
  </div>

  <small class="hint">★をクリックして評価してください</small>
</div>


  <div>
    <%= f.label :visit_date, "来店日" %><br>
    <%= f.date_field :visit_date %>
  </div>

  <div>
    <%= f.label :body, "本文" %><br>
    <%= f.text_area :body, rows: 6 %>
  </div>

  <div>
    <%= f.label :images, "写真" %><br>
    <%= f.file_field :images, multiple: true %>
  </div>

  <%= f.submit "投稿" %>
<% end %>
