<!DOCTYPE html>
<html>
  <head>
    <title>JIRO REVIEW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header class="site-header">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "JIRO REVIEW", class: "logo-image" %>
    <% end %>
  </div>

 <div class="header-right">
  <!-- 未ログインでも見せたい機能（常に表示） -->
  

  <%= form_with url: shops_path, method: :get, local: true, class: "header-search" do |f| %>
    <%= f.search_field :keyword, value: params[:keyword], placeholder: "店名で検索", class: "search-input" %>
    <%= f.submit "検索", class: "btn" %>
  <% end %>

  <div class="dropdown">
    <button class="dropdown-trigger" type="button">
      メニュー ▼
    </button>

    <div class="dropdown-menu">
      <%= link_to "店舗一覧", shops_path, class: "dropdown-item" %>
      <%# 未ログインでも見せるなら new_shop_path もここに残す %>
      <%= link_to '新規店舗登録', new_shop_path, class: "dropdown-item" %>
     <%= link_to "写真一覧", photos_path, class: "dropdown-item" %>
    </div>
  </div>

  <!-- 未ログインのときだけ「ログイン / 新規登録」 -->
  <% unless logged_in? %>
    <nav class="header-nav">
      <%= link_to "ログイン", login_path, class: "btn" %>
      <%= link_to "新規登録", signup_path, class: "btn" %>
    </nav>
  <% end %>

  <!-- ログインしてるときだけログアウトを出したい場合 -->
  <% if logged_in? %>
    <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn" %>
  <% end %>
</div>
</header>
<p>debug: logged_in?=<%= logged_in? %> session=<%= session[:user_id].inspect %></p>
    <main class="container">
      <%= yield %>
    </main>
</body>
</html>