<!DOCTYPE html>
<html>
  <head>
    <title>JIRO REVIEW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "shop", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "user", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "review", "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/&callback=initMap", async: true, defer: true %>
  </head>
  <body>
    <header class="site-header">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", alt: "JIRO REVIEW", class: "logo-image" %>
        <% end %>
      </div>
      <p class="header-title">全国のラーメン二郎を、口コミで探そう。</p>
      <div class="header-2"> 
        <div class="dropdown">
          <button class="dropdown-trigger" type="button">メニュー ▼</button>
          <div class="dropdown-menu">
            <% if logged_in? %>
              <%= link_to "アカウント情報", account_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "店舗一覧", shops_path, class: "dropdown-item" %>
            <%= link_to "新規店舗登録", new_shop_path, class: "dropdown-item" %>
            <%= link_to "写真一覧", photos_shops_path, class: "dropdown-item" %>
          </div>
        </div>
        <% unless logged_in? %>
          <nav class="header-nav">
            <%= link_to "ログイン", login_path, class: "btn" %>
            <%= link_to "新規登録", signup_path, class: "btn" %>
          </nav>
        <% end %>

        <% if logged_in? %>
          <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn" %>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
